.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-2 {
    @extend .grid;
    grid-template-columns: 1fr 1fr;
}

p {
    margin: 0;
}
